@import './theme.less';

// Title
.title {
  font-size: 2em;
  text-align: center;
  line-height: 64px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  a {
    color: #444;
    &:hover {
      color: #888;
    }
  }
}

.oddity-nav {
  background-color: @component-background;
  color: black;
}

.oddity-category-item {
  transition-duration: 0.5s;
  padding: 10px;
  &:hover {
    background-color: fade(@primary-color, 30%);
  }
  .oddity-category-item-description {
    padding: 20px;
  }
}

/*
  ODDITY NOTIFICATION
*/
.oddity-notification {
  transition-duration: 1s;
  z-index: 5;
  transform: translate(-50%);
  bottom: 40px;
  position: fixed;
  width: 400px;
  background-color: fade(#000, 80%);
  left: 50vw;
  color: #fff;
  button {
    background-color: @success-color;
    border-color: #333;
    &:hover {
      background-color: fade(@success-color, 80%);
    }
  }
}

.ant-table-tbody > .oddity-row:hover > td {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*
  ANT DESIGN OVERWRITES
*/
.ant-menu-item-disabled,
.ant-input-disabled {
  cursor: default !important;
}
// .ant-layout {
//   background-color: #fff !important;
// }
.ant-card {
  margin: 10px !important;
}
.ant-btn:hover {
  color: black;
  background-color: white;
}
