@import './theme.less';

.component-background {
  background-color: @component-background;
}

.hidden {
  display: none;
}

// Title
.title {
  font-size: 2em;
  text-align: center;
  line-height: 64px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  a {
    color: #444;
    &:hover {
      color: #888;
    }
  }
}

// Block Quote styling
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.clickable {
  cursor: pointer;
}

.oddity-nav {
  background-color: @component-background;
  color: black;
}

// Custom Collapse Drag and Drop
.oddity-collapsable-custom {
  .oddity-thread-card {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border: 1px solid #d9d9d9;
    cursor: move;
  }

  .oddity-collapsable-disabled-header {
    padding: 10px;
    color: @text-color-inverse;
    padding-right: 25px;
    background-color: fade(@primary-color, 90%);
    &:hover {
      background-color: fade(@primary-color, 80%) !important;
    }
    cursor: default;
  }

  .oddity-collapsable-custom-header {
    padding: 10px;
    padding-right: 25px;
    background-color: @primary-color;
    color: @text-color-inverse;
    cursor: move;
    &:hover {
      background-color: fade(@primary-color, 80%) !important;
    }
  }

  .oddity-collapse-delete {
    text-align: center;
    width: 10%;
    float: right;
    &:hover {
      color: @error-color;
      cursor: pointer;
    }
  }

  .oddity-dnd-select {
    background-color: fade(@background-color-light, 30%) !important;
  }
  .oddity-dnd-downward {
    border-bottom: 2px dashed @text-color-inverse;
  }
  .oddity-dnd-upward {
    border-top: 2px dashed @text-color-inverse;
  }

  .ant-collapse-header {
    padding: 0 !important;
    margin: 0 !important;
  }
  .ant-collapse-arrow {
    color: @text-color-inverse !important;
  }
}

.oddity-category-item {
  transition-duration: 0.5s;
  padding: 10px;
  &:hover {
    background-color: fade(@primary-color, 30%);
  }
  .oddity-category-item-description {
    padding: 20px;
  }
}

/*
  ODDITY NOTIFICATION
*/
.oddity-notification {
  transition-duration: 0.5s;
  z-index: 5;
  transform: translate(-50%);
  bottom: 15px;
  position: fixed;
  width: 500px;
  padding: 15px;
  background-color: fade(@primary-color, 95%);
  vertical-align: middle;
  left: 50vw;
  color: @text-color-inverse;
  border: 1px solid rgba(50, 50, 50, 0.5);

  .ant-btn-link {
    color: fade(@text-color-inverse, 95%);
    &:hover {
      color: fade(@text-color-inverse, 80%);
    }
  }
}
.oddity-notification.error {
  transition-duration: 0.3s;
  background-color: fade(@error-color, 85%);
}
.ant-btn-inverse {
  color: @text-color;
  background-color: @background-color-light;
  border: 1px solid @primary-color;
  &:hover {
    color: @text-color-inverse;
    background-color: @primary-color;
    border: 1px solid @primary-color;
  }
}

.ant-table-tbody > .oddity-row:hover > td {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*
  ANT DESIGN OVERWRITES
*/
.ant-menu-item-disabled,
.ant-input-disabled {
  cursor: default !important;
}
// .ant-layout {
//   background-color: #fff !important;
// }
.ant-card {
  margin: 10px !important;
}
.ant-btn-primary:not(.ant-btn-link):hover {
  color: black;
  background-color: white;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: fade(@primary-color, 30%) !important;
}
